* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	background-image: url(https://cdn.wallpapersafari.com/91/5/USJEz5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	max-width: 1300px;
	display: flex;
	justify-content: center;
	font-family: 'Reggae One', bold;
	font-size: 80;
	color: FFD700;
	-webkit-text-stroke: 1px black;
}
.titulo{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 15%;
	background-color: white;
}
.imagen{
	margin-top: 4%;
	display: flex;
	justify-content: center;
}
.icon{
	display: none;
}
header nav{
	display: none;
}
nav{
	width: 100%;
	height: 75px;
	margin-top: 4%;
	background-color: white;
	border-top: 6px solid #FFC300;
}
nav ul{
	display: flex;
	justify-content: space-around;
}
nav ul li{
	font-family: 'Quicksand', sans-serif;
	font-size: 30;
	margin-top: 15px;
}
a{
	text-decoration: none;
	color: black;
}
.imagen2{
	display: inline-block;
	width: 95%;
	margin-top: 4%;
	margin-bottom: 2%;
	margin-left: 2%;
	background-color: white;
}
.imagen2 img{
	float: left;
	width: 250px;
	margin-right: 2%;
}
.imagen3{
	display: inline-block;
	width: 95%;
	margin-top: 4%;
	margin-bottom: 2%;
	margin-left: 2%;
	background-color: white;
}
.imagen3 img{
	float: left;
	width: 250px;
	margin-right: 2%;
}
h2{
	display: flex;
	justify-content: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 30;
	font-weight: bold;
	margin-top: 20px;
}
p{
	font-family: 'Quicksand', sans-serif;
	margin: 20px 15px;
	font-size: 25;
}
.imagen3 p{
	margin-top: 3%;
}
.terciario{
	display: flex;
	justify-content: center;
	background-color: #F5A6D7;
	width: 80%;
	height: auto;%;
	margin-left: 10%;
	margin-bottom: 4%;
}
.terciario div{
	width: 40%;
	padding: 2%;
}
label{
	font-family: 'Quicksand', sans-serif;
 	font-size: 25;
}
input{
	width: 50%;
	height: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
}
.rett{
	max-width: 450px;
}
textarea{
	font-family: 'Quicksand', sans-serif;
	width: 50%;
	height: 25%;
}
button{
	font-family: 'Quicksand', sans-serif;
	width: 20%;
	height: 10%;
}
footer img{
	width: 500px;
	margin-left: 33%;
	display: flex;
	justify-content: center;
}
h3{
	display: flex;
	justify-content: center;
	margin-top: 1%;
	font-family: 'Quicksand', sans-serif;
}
h4{
	display: flex;
	justify-content: center;
	margin-top: 2%;
	margin-bottom: 4%;
	font-family: 'Quicksand', sans-serif;
}
@media screen and (max-width: 768px) {
header{flex-wrap: wrap;}
nav{display: none;}
.icon {display: block; margin-top: 4%;}
header nav{flex-basis: 100%;}
header .navegador a{flex: 1 0 50%;}
nav.responsive{display: block; width: 100%; height: 38%;}
nav.responsive ul{display: block;}
nav.responsive ul li{font-family: 'Quicksand', sans-serif; font-size: 25; padding: 4px;}
.gif {display: none;}
h1{display: inline; align-content: ; font-family: 'Reggae One', bold; font-size: 50; color: FFD700; -webkit-text-stroke: 1px black; max-width: 480px;}
.titulo{display: flex; justify-content: center; width: 100%; height: 12%; background-color: white; max-width: 480px;}
.imagen{margin-top: 4%; display: flex; justify-content: center; max-width: 480px;}
.rayo{display: none;}
.gif2{max-width: 450px; width: 95%;}
.imagen2{max-width: 480x; width: 96%; margin-top: 4%; margin-bottom: 2%; background-color: white;}
.imagen2 img{float: left; width: 230px; margin-right: 2%;}
p{font-family: 'Quicksand', sans-serif; margin: 20px 15px; font-size: 20;}
h2{font-family: 'Quicksand', sans-serif; font-size: 20; font-weight: bold; margin-top: 15px;}
.imagen3{max-width: 480px; display: inline-block; width: 96%; margin-top: 4%; margin-bottom: 2%; background-color: white;}
.imagen3 img{float: left; width: 200px; margin-right: 2%;}
.terciario{
	max-width: 480px;
	display: block;
	background-color: #F5A6D7;
	width: 80%;
	height: auto;%;
	margin-bottom: 4%;
}
.terciario div{
	max-width: 480px;
	width: 100%;
	padding: 2%;
}
label{
	font-family: 'Quicksand', sans-serif;
 	font-size: 18;
}
input{
	max-width: 480px;
	width: 80%;
	height: 4%;
	margin-top: 2%;
	margin-bottom: 2%;
}
.rett{
	max-width: 368px;
}
textarea{
	max-width: 480px;
	font-family: 'Quicksand', sans-serif;
	width: 80%;
	height: 10%;
}
button{
	max-width: 480px;
	font-family: 'Quicksand', sans-serif;
	width: 20%;
	height: 4%;
}
form{
	margin-left: 18%;
}
footer{max-width: 450px;}
footer img{margin-left: 20%; margin-top: 2%; max-width: 450px; width: 300px;}
h3{font-size: 14px; display: flex; justify-content: center; margin-top: 1%; margin-left: 8%; font-family: 'Quicksand', sans-serif;}
h4{font-size: 12px; display: flex; justify-content: center; margin-top: 2%; margin-bottom: 4%; margin-left: 8%; font-family: 'Quicksand', sans-serif;}
}
