* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	background-image: url(https://cdn.wallpapersafari.com/91/5/USJEz5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	display: flex;
	justify-content: center;
	font-family: 'Reggae One', bold;
	font-size: 80;
	color: FFD700;
	-webkit-text-stroke: 1px black;
}
.titulo{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 15%;
	background-color: white;
}
.icon{
	display: none;
}
.menu{
	margin-top: 50%;
}
nav{
	width: 100%;
	height: 75px;
	margin-top: 4%;
	background-color: white;
	border-top: 6px solid #FFC300;
}
nav ul{
	display: flex;
	justify-content: space-around;
}
nav ul li{
	font-family: 'Quicksand', sans-serif;
	font-size: 30;
	margin-top: 15px;
}
a{
	text-decoration: none;
	color: black;
}
.subtitulo{
	display: flex;
	justify-content: center;
}
h2{
	display: flex;
	justify-content: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 50;
	width: 65%;
	height: 75px;
	margin-top: 8%;
	background-color: white;
}
p{
	font-family: 'Quicksand', sans-serif;
	font-size: 25;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}
h3{
	font-family: 'Quicksand', sans-serif;
	font-size: 25;
	margin-left: 40%;
	margin-top: 10px;
}
section img{
	width: 210px;
	height: 300;
}
.pj1{
	display: flex;
	justify-content: center;
	margin-top: 8%;
	margin-bottom: 4%;
}
.pj2{
	display: flex;
	justify-content: center;
	margin-bottom: 4%;
}
.pj3{
	display: flex;
	justify-content: center;
	margin-bottom: 4%;
}
.pj4{
	display: flex;
	justify-content: center;
	margin-bottom: 4%;
}
.ton{
	width: 46%;
	background-color: white;
	margin-right: 2%;
}
.komiya{
	width: 46%;
	background-color: white;
	margin-left: 2%;	
}
.tsunoda{
	width: 46%;
	background-color: white;
	margin-right: 2%;
}
.kabae{
	width: 46%;
	background-color: white;
	margin-left: 2%;
}
.tsubone{
	width: 46%;
	background-color: white;
	margin-right: 2%;
}
.anai{
	width: 46%;
	background-color: white;
	margin-left: 2%;
}
.himuro{
	width: 46%;
	background-color: white;
	margin-right: 2%;
}
.ookami{
	width: 46%;
	background-color: white;
	margin-left: 2%;
}
.yagyu{
	width: 46%;
	background-color: white;
	margin-right: 2%;
	margin-bottom: 8%;
	margin-left: 28%;
}
.img1{
	margin-top: 15px;
	margin-left: 15px;
	border-color: black;
	border-width: 3px;
	border-style: solid;
}
.img2{
	border-color: black;
	border-style: solid;
	border-width: 2px;
	margin-left: 6px;
}
.img3{
	background-color: black;
	border-style: solid;
	border-width: 3px;
	margin-left: 6px;
}
footer img{
	width: 500px;
	margin-left: 33%;
	display: flex;
	justify-content: center;
}
h4{
	display: flex;
	justify-content: center;
	margin-top: 1%;
	font-family: 'Quicksand', sans-serif;
}
h5{
	display: flex;
	justify-content: center;
	margin-top: 2%;
	margin-bottom: 4%;
	font-family: 'Quicksand', sans-serif;
}
@media screen and (max-width: 768px) {
header{flex-wrap: wrap;}
nav{display: none;}
.icon {display: block; margin-top: 4%;}
nav{flex-basis: 100%;}
.navegador a{flex: 1 0 50%;}
nav.responsive{display: block; width: 100%; height: 48%;}
nav.responsive ul{display: block;}
nav.responsive ul li{font-family: 'Quicksand', sans-serif; font-size: 25; padding: 4px;}
h1{display: inline; align-content: ; font-family: 'Reggae One', bold; font-size: 50; color: FFD700; -webkit-text-stroke: 1px black; max-width: 480px;}
.titulo{display: flex; justify-content: center; width: 100%; height: 12%; background-color: white; max-width: 480px;}
.imagen{margin-top: 4%; display: flex; justify-content: center; max-width: 480px;}
.rayo{display: none;}
.menu{display: none;}
h2{max-width: 480px; display: flex; justify-content: center; font-family: 'Quicksand', sans-serif; font-size: 30; width: 85%; height: 50px; margin-top: 8%; background-color: white;}
p{display: block; font-family: 'Quicksand', sans-serif; font-size: 20}
section img{width: 140px; height: 180px;}
.pj1, .pj2, .pj3, .pj4{display: block;}
.ton{width: 95%; background-color: white; margin-left: 12px;}
.komiya{width: 95%; background-color: white; margin-left: 12px;}
.tsunoda{width: 95%; background-color: white; margin-left: 12px;}
.kabae{width: 95%; background-color: white; margin-left: 12px;}
.tsubone{width: 95%; background-color: white; margin-left: 12px;}
.anai{width: 95%; background-color: white; margin-left: 12px;}
.himuro{width: 95%; background-color: white; margin-left: 12px;}
.ookami{width: 95%; background-color: white; margin-left: 12px;}
.yagyu{width: 95%; background-color: white; margin-left: 12px;}
h3{display: flex; justify-content: left; font-family: 'Quicksand', sans-serif; font-size: 25; margin-top: 10px;}
.ton h3{margin-left: 135px;}
.img1{margin-top: 8px; margin-left: 8px; border-color: black; border-width: 2px; border-style: solid;}
.img2{border-color: black; border-style: solid; border-width: 2px; margin-left: 6px;}
.img3{background-color: black; border-style: solid; border-width: 2px; margin-left: 6px;}
footer{max-width: 450px;}
footer img{margin-left: 20%; margin-top: 2%; max-width: 450px; width: 300px;}
h4{font-size: 14px; display: flex; justify-content: center; margin-top: 1%; margin-left: 8%; font-family: 'Quicksand', sans-serif;}
h5{font-size: 12px; display: flex; justify-content: center; margin-top: 2%; margin-bottom: 4%; margin-left: 8%; font-family: 'Quicksand', sans-serif;}
}
