* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	background-image: url(https://cdn.wallpapersafari.com/91/5/USJEz5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	display: flex;
	justify-content: center;
	font-family: 'Reggae One', bold;
	font-size: 80;
	color: FFD700;
	-webkit-text-stroke: 1px black;
}
.titulo{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 15%;
	background-color: white;
}
.menu{
	margin-top: 50%;
}
nav{
	width: 100%;
	height: 75px;
	margin-top: 4%;
	background-color: white;
}
nav ul{
	display: flex;
	justify-content: space-around;
}
nav ul li{
	font-family: 'Quicksand', sans-serif;
	font-size: 30;
	margin-top: 18px;
}
p{
	font-family: 'Quicksand', sans-serif;
	font-size: 25;
}
a{
	text-decoration: none;
	color: black;
}
.subtitulo{
	display: flex;
	justify-content: center;
}
h2{
	display: flex;
	justify-content: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 50;
	width: 65%;
	height: 75px;
	margin-top: 8%;
	background-color: white;
}
.canciones1{
	display: flex;
	justify-content: center;
	margin-top: 8%;
}
.canciones2{
	display: flex;
	justify-content: center;
	margin-top: 8%;
}
.clips{
	display: inline-block;
	margin-left: 29%;
	margin-top: 8%;
	margin-bottom: 4%;
}
.tema{
	margin-right: 3%;
}
.ag{
	margin-left: 3%;
}
.vs{
	margin-right: 3%;
}
.ff{
	margin-left: 3%;
}
h3{
	display: flex;
	justify-content: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 30;
	background-color: white;
	width: 300px;
	height: 50;
}
footer{
	display: inline;
	margin-left: 25%;
}
footer img{
	margin-top: 2%;
}
h4{
	margin-top: 1%;
	margin-left: 40%;
	font-family: 'Quicksand', sans-serif;
}
h5{
	margin-left: 45%;
	margin-top: 2%;
	margin-bottom: 4%;
	font-family: 'Quicksand', sans-serif;
}