* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	background-image: url(https://cdn.wallpapersafari.com/91/5/USJEz5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	display: flex;
	justify-content: center;
	font-family: 'Reggae One', bold;
	font-size: 80;
	color: FFD700;
	-webkit-text-stroke: 1px black;
}
.titulo{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 15%;
	background-color: white;
}
.icon{
	display: none;
}
.menu{
	margin-top: 50%;
}
nav{
	width: 100%;
	height: 75px;
	margin-top: 4%;
	background-color: white;
	border-top: 6px solid #FFC300;
}
nav ul{
	display: flex;
	justify-content: space-around;
}
nav ul li{
	font-family: 'Quicksand', sans-serif;
	font-size: 30;
	margin-top: 15px;
}
a{
	text-decoration: none;
	color: black;
}
.subtitulo{
	display: flex;
	justify-content: center;
}
h2{
	display: flex;
	justify-content: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 50;
	width: 65%;
	height: 75px;
	margin-top: 8%;
	background-color: white;
}
p{
	font-family: 'Quicksand', sans-serif;
	font-size: 25;
}
article img{
	width: 360px;
	height: 360px;
}
article{
	margin-top: 8%;
	margin-bottom: 4%;
	margin-left: 1%;
}
footer img{
	width: 500px;
	margin-left: 33%;
	display: flex;
	justify-content: center;
}
h3{
	display: flex;
	justify-content: center;
	margin-top: 1%;
	font-family: 'Quicksand', sans-serif;
}
h4{
	display: flex;
	justify-content: center;
	margin-top: 2%;
	margin-bottom: 4%;
	font-family: 'Quicksand', sans-serif;
}
@media screen and (max-width: 768px) {
header{flex-wrap: wrap;}
nav{display: none;}
.icon {display: block; margin-top: 4%;}
nav{flex-basis: 100%;}
.navegador a{flex: 1 0 50%;}
nav.responsive{display: block; width: 100%; height: 38%;}
nav.responsive ul{display: block;}
nav.responsive ul li{font-family: 'Quicksand', sans-serif; font-size: 25; padding: 4px;}
h1{display: inline; align-content: ; font-family: 'Reggae One', bold; font-size: 50; color: FFD700; -webkit-text-stroke: 1px black; max-width: 480px;}
.titulo{display: flex; justify-content: center; width: 100%; height: 12%; background-color: white; max-width: 480px;}
.imagen{margin-top: 4%; display: flex; justify-content: center; max-width: 480px;}
.rayo{display: none;}
.menu{display: none;}
h2{max-width: 480px; display: flex; justify-content: center; font-family: 'Quicksand', sans-serif; font-size: 40; width: 60%; height: 60px; margin-top: 8%; background-color: white;}
article{margin-top: 8%; margin-bottom: 8%; margin-left: 12%;}
article img{width: 120px; height: 120px;}
footer{max-width: 450px;}
footer img{margin-left: 22%; margin-top: 2%; max-width: 450px; width: 300px;}
h3{font-size: 14px; display: flex; justify-content: center; margin-top: 1%; margin-left: 12%; font-family: 'Quicksand', sans-serif;}
h4{font-size: 12px; display: flex; justify-content: center; margin-top: 2%; margin-bottom: 4%; margin-left: 12%; font-family: 'Quicksand', sans-serif;}
}